
body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    text-align: center;
    margin: 0;
    padding: 0;
}

.topbar{
    background-color: #071952;
    border-radius: 5px;
    box-shadow: inset;
    display: flex;
    flex-wrap: wrap;
    align-items: space-evenly;

}
.logo{
    height: 25px;
    width: 40px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;

}
#lineone {
    color: #333;
    font-size: 2.5em;
    margin-top: 50px;
}

.pageonebutton {
    background-color: #4CAF50;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 20px;
}
.design{
    max-width: 1280px;
}
.pageonebutton-login {
    background-color: #4CAF50;
    color: white;
    padding: 12px 28px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 5px;
    
}


.pageonebutton:hover {
    background-color: #45a049;
}



@media (max-width: 600px) {
    h1 {
        font-size: 2em;
    }
    
    button {
        padding: 12px 24px;
        font-size: 14px;
    }
}
